body {
  background-color: rgba(4, 4, 3, 0.91);
}

.todoList {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 10px;
}
h1 {
  font-size: 3rem;
  color: white;
}

button {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.addButton {
  background-color: rgb(12, 204, 12);
}

.addButton:hover {
  background-color: rgba(13, 135, 13, 0.838);
}
.delete {
  background-color: rgba(206, 8, 77, 0.922);
}

.delete:hover {
  background-color: rgba(143, 5, 26, 0.911);
}

.move {
  background-color: rgba(75, 96, 231, 0.945);
}

.move:hover {
  background-color: rgba(11, 37, 167, 0.792);
}

input[type="text"] {
  font-size: 1.3rem;
  padding: 10px;
  width: 50%;
  border: 2px solid rgb(236, 233, 233);
  border-radius: 5px;
}
ol {
  padding: 0;
}
li {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 15px;
  background-color: rgba(231, 231, 231, 0.888);
  margin-bottom: 10px;
  border: 3px solid rgba(200, 193, 193, 0.878);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text {
  flex: 1;
}

.delete,
.move {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 1.4rem;
  margin-left: 10px;
}
